@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <form asp-page="./Index" method="get">
        <div class="input-group mb-3">
            <input type="text" value="@Model.CurrentFilter" name="SearchString" class="form-control"/>
            <button class="btn btn-outline-secondary btn-primary" type="submit" id="button-addon2">Buscar</button>
        </div>
    </form>

</div>
<div class="text-center">
    <form method="post">
        
        <div class="row">
            <div class="col-8">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Id modelo</th>
                        <th>Modelo</th>
                        <th>Id Marca</th>
                        <th>Marca</th>
                        <th>Id Tipo vehiculo</th>
                        <th>Tipo vehiculo</th>
                        <th>Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        @for (var i = 0; i < Model.Items.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="Items[i].IdModelo"/>
                                    <input asp-for="Items[i].Seleccionado"/>
                                </td>
                                <td>@Model.Items[i].IdModelo</td>
                                <td>@Model.Items[i].NombreModelo</td>
                                <td>@Model.Items[i].IdMarca</td>
                                <td>@Model.Items[i].NombreMarca</td>
                                <td>@Model.Items[i].IdTipoVehiculo</td>
                                <td>@Model.Items[i].NombreTipoVehiculo</td>
                                <td>@Model.Items[i].Cantidad</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                
                <div class="row m-3">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="CurrentFilter"/>
                        <input type="text" placeholder="Id modelo" class="form-control" asp-for="IdModeloConsolidable"/>
                    </div>
                    <div class="col-md-12">
                        <input type="text" placeholder="Nuevo nombre modelo"  class="form-control" asp-for="NuevoNombreModelo" />
                    </div>
                </div>
                
                <div class="row m-3">
                    <div class="col-md-12">
                        <input type="text" placeholder="Nuevo id de marca" class="form-control" asp-for="NuevoIdMarca" />
                    </div>
                    <div class="col-md-12">
                        <input type="text" placeholder="Nuevo nombre marca" class="form-control" asp-for="NuevoNombreMarca" />
                    </div>

                </div>
                
                <div class="row m-3">
                    <div class="col-md-12">
                        <input type="text" placeholder="Nuevo id de tipo de vehiculo" class="form-control" asp-for="NuevoIdTipoVehiculo" />
                    </div>
                    <div class="col-md-12">
                        <input type="text" placeholder="Nuevo nombre tipo de vehiculo" class="form-control" asp-for="NuevoNombreTipoVehiculo"/>
                    </div>

                </div>
                
                <div class="row m-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Consolidar</button>
                    </div>
                </div>
            </div>
        </div>
        
      
    </form>
</div>
